[submodule "themes/even"]
	path = themes/even
	url = https://github.com/zhaoqiangcn/hugo-theme-even.git
[submodule "themes/hugo-even"]
	path = themes/hugo-even
	url = https://github.com/zyj1022/hugo-theme-even.git
